*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 10px;
  display: grid;
  justify-items: center;
}

.get-sentence-form {
  display: flex;
  margin: 2rem;
  height: 4rem;
}

.input-text {
  padding: 10px;
  min-width: 400px;
  z-index: 1;
}

.toggle-emoji-picker {
  padding: 10px;
  /* font-size: 2rem; */
}

.emoji-picker {
  z-index: 20;
  align-self: stretch;
  overflow: visible !important;
}

.emoji-picker .emoji-list {
  background-color: #fafafa !important;
}

.list-item {
  display: grid;
  grid-template-columns: 100px minmax(200px, 1fr);
  align-items: center;
  z-index: 2;
}

.horsie {
  padding: 10px;
  font-size: 2rem;
  background-color: aquamarine;
  border: 1px solid aqua;
  color: #23506e;
  align-self: stretch;
}

.sentence {
  background-color: #0e9e6e;
  border: 1px solid aqua;
  color: #dee3e9;
  padding: 10px;
  font-size: 1rem;
  align-self: stretch;
  z-index: 2;
}